<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- spring和mybatis的接口，只有在需要配置<settings>, <typeAliases>才需要mybatis-config.xml文件的存在 -->
	<settings>
		<!-- 在控制台打印SQL, eg:SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING -->  
        <setting name="logImpl" value="LOG4J" />
	</settings>
</configuration>