<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.henry.freewebwork.dao.CustomerMapper">
    <insert id="save">
        INSERT into t_customer(custname,contact,tel,email,address,wechar,qq,createtime,mark,userid,progress)
        VALUES (#{custname},#{contact},#{tel},#{email},#{address},#{wechar},#{qq},#{createtime},#{mark},#{userid},#{progress})
    </insert>
    <update id="update">
        UPDATE t_customer SET custname = #{custname},contact = #{contact},tel = #{tel},
        email = #{email},qq = #{qq},address = #{address},wechar = #{wechar},mark = #{mark},
        progress = #{progress},progresstime = #{progresstime},userid = #{userid}
        where id = #{id}
    </update>
    <delete id="del">
        DELETE FROM t_customer WHERE id = #{id}
    </delete>

    <select id="findByParam" parameterType="map" resultType="com.cn.henry.freewebwork.entity.Customer">
        SELECT * FROM t_customer
        <where>
            <if test="seaName != null and seaName != ''">
                (custname LIKE #{seaName} or contact like #{seaName})
            </if>
            <if test="seaTel != null and seaTel != ''">
                and tel like #{seaTel}
            </if>
            <if test="seaState != null and seaState != ''">
               and progress = #{seaState}
            </if>
            <if test="userid != null and userid != ''">
                and userid = #{userid} or userid is null
            </if>
        </where>
        order by ${orderColumn} ${orderType}
        limit ${start},${length}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_customer
    </select>
    <select id="countByParam" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_customer
        <where>
            <if test="seaName != null and seaName != ''">
                (custname LIKE #{seaName} or contact like #{seaName})
            </if>
            <if test="seaTel != null and seaTel != ''">
                and tel like #{seaTel}
            </if>
            <if test="seaState != null and seaState != ''">
                and progress = #{seaState}
            </if>
            <if test="userid != null and userid != ''">
                and userid = #{userid} or userid is null
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.cn.henry.freewebwork.entity.Customer">
        SELECT * FROM t_customer WHERE id = #{id}
    </select>
    <select id="findByUserIdAndEmptyUserId" resultType="com.cn.henry.freewebwork.entity.Customer">
        SELECT * FROM t_customer WHERE userid = #{currentUserId} or userid is null
    </select>
    <select id="findTotal" resultType="java.util.Map">
        SELECT temp.custtype,
        (SELECT COUNT(*) FROM t_customer WHERE t_customer.progress = temp.custtype) AS total
        FROM (SELECT '初访' AS 'custtype'
        UNION SELECT '意向'
        UNION SELECT '报价'
        UNION SELECT '成交'
        UNION SELECT '暂时搁置'
        UNION SELECT '无') AS temp
    </select>
</mapper>