<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.henry.freewebwork.dao.ProgressMapper" >
  <resultMap id="BaseResultMap" type="com.cn.henry.freewebwork.entity.Progress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="progress" property="progress" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="custid" property="custid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cn.henry.freewebwork.entity.Progress" extends="BaseResultMap" >
    <result column="mark" property="mark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, progress, createtime, custid, userid
  </sql>
  <sql id="Blob_Column_List" >
    mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_progress
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_progress
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.henry.freewebwork.entity.Progress" >
    insert into t_progress (id, progress, createtime, 
      custid, userid, mark
      )
    values (#{id,jdbcType=INTEGER}, #{progress,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{custid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{mark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.henry.freewebwork.entity.Progress" >
    insert into t_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="progress != null" >
        progress,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="custid != null" >
        custid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="mark != null" >
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.henry.freewebwork.entity.Progress" >
    update t_progress
    <set >
      <if test="progress != null" >
        progress = #{progress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        custid = #{custid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.henry.freewebwork.entity.Progress" >
    update t_progress
    set progress = #{progress,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      custid = #{custid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      mark = #{mark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.henry.freewebwork.entity.Progress" >
    update t_progress
    set progress = #{progress,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      custid = #{custid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>