<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.henry.freewebwork.dao.ProgressFileMapper">
    <insert id="save">
        INSERT INTO t_progress_file(filename,path,createtime,custid,userid,progressid)
        VALUES (#{filename},#{path},#{createtime},#{custid},#{userid},#{progressid})
    </insert>
    <select id="findByProgressId" resultType="com.cn.henry.freewebwork.entity.ProgressFile">
        SELECT * FROM t_progress_file WHERE progressid = #{progressId}
    </select>
    <select id="findByCustId" resultType="com.cn.henry.freewebwork.entity.ProgressFile">
        SELECT * FROM t_progress_file WHERE custid = #{id}
    </select>
</mapper>