<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.henry.freewebwork.dao.ProgressFileMapper" >
  <resultMap id="BaseResultMap" type="com.cn.henry.freewebwork.entity.ProgressFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="progressid" property="progressid" jdbcType="INTEGER" />
    <result column="custid" property="custid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, filename, path, createtime, progressid, custid, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_progress_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_progress_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.henry.freewebwork.entity.ProgressFile" >
    insert into t_progress_file (id, filename, path, 
      createtime, progressid, custid, 
      userid)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{progressid,jdbcType=INTEGER}, #{custid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.henry.freewebwork.entity.ProgressFile" >
    insert into t_progress_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="progressid != null" >
        progressid,
      </if>
      <if test="custid != null" >
        custid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="progressid != null" >
        #{progressid,jdbcType=INTEGER},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.henry.freewebwork.entity.ProgressFile" >
    update t_progress_file
    <set >
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="progressid != null" >
        progressid = #{progressid,jdbcType=INTEGER},
      </if>
      <if test="custid != null" >
        custid = #{custid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.henry.freewebwork.entity.ProgressFile" >
    update t_progress_file
    set filename = #{filename,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      progressid = #{progressid,jdbcType=INTEGER},
      custid = #{custid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>