<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.henry.freewebwork.dao.TaskMapper">
    <insert id="save">
        INSERT  INTO t_task(task,createtime,done,donetime,userid,custid,worktime)
        VALUES (#{task},#{createtime},#{done},#{donetime},#{userid},#{custid},#{worktime})
    </insert>
    <update id="update">
        UPDATE t_task SET task = #{task},done = #{done},donetime=#{donetime},custid=#{custid},
        worktime = #{worktime} where id = #{id}
    </update>
    <select id="findByUserId" resultType="com.cn.henry.freewebwork.entity.Task">
        SELECT * FROM t_task WHERE userid = #{currentUserId} order by worktime asc
    </select>
    <select id="findById" resultType="com.cn.henry.freewebwork.entity.Task">
        SELECT * FROM t_task WHERE id = #{taskId}
    </select>
    <select id="findByCustIdAndState" resultType="com.cn.henry.freewebwork.entity.Task">
        SELECT * FROM t_task WHERE custid = #{param1} and done = #{param2}
    </select>
</mapper>