<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.henry.freewebwork.dao.UserMapper">
    <insert id="save" parameterType="com.cn.henry.freewebwork.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(username,password,tel,state,createtime,userid,weixinid)
        VALUES (#{username},#{password},#{tel},#{state},#{createtime},#{userid},#{weixinid})
    </insert>
    <insert id="saveUserAndRole">
        INSERT INTO role_user(userid,roleid) VALUES
        <foreach collection="param2" item="roleId" separator=",">
            (#{param1.id},#{roleId})
        </foreach>
    </insert>
    <update id="editUser">
        UPDATE t_user SET username = #{username},tel = #{tel},state=#{state} where id = #{id}
    </update>
    <delete id="del">
        DELETE FROM t_user WHERE id = #{id}
    </delete>
    <delete id="delUserAndRole">
        DELETE FROM role_user WHERE userid = #{id}
    </delete>

    <select id="findByTel" resultType="com.cn.henry.freewebwork.entity.User">
      SELECT * FROM t_user WHERE tel = #{tel}
    </select>
    <select id="findAll" resultType="com.cn.henry.freewebwork.entity.User">
        SELECT * FROM t_user
    </select>

    <select id="findByParam" parameterType="map" resultType="com.cn.henry.freewebwork.entity.User" resultMap="userMap2">
        SELECT * from t_user
        <where>
            <if test="keyword != null and keyword != ''">
                username LIKE #{keyword} or tel like #{keyword}
            </if>
        </where>
        order by ${orderColumn} ${orderType}
        limit ${start},${length}
    </select>
    <select id="findUserCount" resultType="long">
        SELECT COUNT(*) FROM t_user
    </select>
    <select id="findUserCountByParam" resultType="long" parameterType="map">
        SELECT count(*) FROM t_user
        <where>
            <if test="keyword != null and keyword != ''">
                username LIKE #{keyword} or tel like #{keyword}
            </if>
        </where>
    </select>

    <select id="findUserWithRoleById" resultType="com.cn.henry.freewebwork.entity.User" resultMap="userMap">
        SELECT u.*,r.id AS roleid,r.`rolename` FROM t_user AS u
        LEFT JOIN role_user AS ru ON ru.`userid` = u.`id`
        LEFT JOIN t_role AS r ON ru.`roleid` = r.`id`
        WHERE u.id = #{id}
    </select>
    <select id="findById" resultType="com.cn.henry.freewebwork.entity.User">
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    <select id="findByUserId" resultType="com.cn.henry.freewebwork.entity.User">
        SELECT * FROM t_user WHERE userid = #{userId}
    </select>

    <resultMap id="userMap" type="com.cn.henry.freewebwork.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result property="password" column="password"/>
        <result property="createtime" column="createtime"/>
        <result property="tel" column="tel"/>
        <result property="state" column="state"/>
        <collection property="roleList" ofType="com.cn.henry.freewebwork.entity.Role">
            <id property="id" column="roleid"/>
            <result property="rolename" column="rolename"/>
        </collection>
    </resultMap>

    <resultMap id="userMap2" type="com.cn.henry.freewebwork.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result property="password" column="password"/>
        <result property="createtime" column="createtime"/>
        <result property="tel" column="tel"/>
        <result property="state" column="state"/>
        <collection property="roleList" ofType="com.cn.henry.freewebwork.entity.Role" column="id" select="com.cn.henry.freewebwork.dao.RoleMapper.findByUserId"/>
    </resultMap>

</mapper>