.page-container {
	padding-top: 75px;
}
th {
	text-align: center;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    text-align: center;
}
.task-operate {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}
.red {
	color: #c7254e;
}
.fr {
	float: right;
}
.mr-5 {
	margin-right: 5px;
}
.ml-5 {
	margin-left: 5px;
}
