  .container {
    width: 1920px;
  }
.page-container {
	padding-top: 75px;
}
th {
	text-align: center;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    text-align: center;
}
.task-stop, .task-start, .task-update {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}
